<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./vcss/main.css">
    <link rel="shortcut icon" href="../vfav/main.ico" type="image/x-icon">
</head>
<body>

    <!-- start of box a -->
<!-- start of navbar -->
<!-- controlled id is here menubar -->
<div class="vlmheader">
    <nav class="navbar">
        <div class="navbar-center">
            <div class="floatA">
                <img src="../vimg/vlm100.png" alt="">
            </div>
            <p class="logo">@Vma house</p>
            <div class="floatB">
                <img src="../vimg/vlmshop.png" alt="">
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>
    <div class="vlmbar">   
        <img src="../vimg/mountain1.png" alt="" id="vlayer1">
        <img src="../vimg/mountain2.png" alt="" id="vlayer2">
        <img src="../vimg/text.png" alt="" id="text">
    </div>
     <div class="products">
        <div class="section-title">
            <h2>Our Products</h2>
        </div>
        <div class="products-center">
            <!-- single product -->
            <article class="product">
                <div class="img-container">
                    <img src="./vimg/clown.png" alt="" class="product-img">
                    <button class="bag-btn" data-id="1">
                        <i class="fas fa-shopping-cart"></i>
                        add to bag
                    </button>
                </div>
                <h3>queen bed</h3>
                <h4>Ksh:10000</h4>
            </article>
        </div>
    </div>
    <!-- cart -->
    <!-- start of cart item -->
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fas fa-window-close"></i>
            </span>
            <h2>Your Cart</h2>
            <div class="cart-content">
                <!-- cart-item -->
                <div class="cart-item">
                    <img src="./vimg/clown.png" alt="">
                    <div>
                        <h4>queen bed</h4>
                        <h5>Ksh:)10000</h5>
                        <span class="remove-item">Delete item</span>
                    </div>
                    <div>
                        <i class="fas fa-chevron-up"></i>
                        <p class="item-amount">1</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                </div>
                 <!--footer  -->
                 <div class="cart-footer">
                    <h3>Current Total:Ksh <span class="cart-total">0</span></h3>
                    <button class="vma-btn">vma cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- end of navbar -->
    <!-- start of vlmbook -->
    <!-- start of vlmbook -->
    <div class="vlmapp">
            <!-- <div class="app">
                <button id="left">Home</button>
                <button id="right">About</button>
            </div> -->


            <!-- section -->	
            <div class="section over-hide">
                <div class="container">
                    <div class="row full-height justify-content-center">
                        <div class="col-12 text-center align-self-center py-5">
                            <div class="section text-center py-5 py-md-0">
                                  <input class="pricing" type="checkbox" id="pricing" name="pricing"/>
                                  <label for="pricing"><span class="block-diff">kayaking<span class="float-right">camping</span></span></label>
                                <div class="card-3d-wrap mx-auto">
                                    <div class="card-3d-wrapper">
                                        <div class="card-front">
                                            <div class="pricing-wrap">
                                                <h4 class="mb-5">Kayaking</h4>
                                                <h2 class="mb-2"><sup>$</sup>39 / 4<sup>hrs</sup></h2>
                                                <p class="mb-4">per person</p>
                                                <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                                <p class="mb-4">Drina, Serbia</p>
                                                <a href="#0" class="link">Choose Date</a>
                                                <div class="img-wrap img-2">
                                                    <img src="../vimg/sea.png" alt="">
                                                </div>
                                                <div class="img-wrap img-1">
                                                    <img src="../vimg/kayak.png" alt="">
                                                </div>
                                                <div class="img-wrap img-3">
                                                    <img src="../vimg/water.png" alt="">
                                                </div>
                                                <div class="img-wrap img-6">
                                                    <img src="../vimg/Stone.png" alt="">
                                                </div>
                                              </div>
                                          </div>
                                        <div class="card-back">
                                            <div class="pricing-wrap">
                                                <h4 class="mb-5">Camping</h4>
                                                <h2 class="mb-2"><sup>$</sup>29 / 8<sup>hrs</sup></h2>
                                                <p class="mb-4">per person</p>
                                                <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                                <p class="mb-4">Tara, Serbia</p>
                                                <a href="#0" class="link">Choose Date</a>
                                                <div class="img-wrap img-2">
                                                    <img src="../vimg/grass.png" alt="">
                                                </div>
                                                <div class="img-wrap img-4">
                                                    <img src="../vimg/camp.png" alt="">
                                                </div>
                                                <div class="img-wrap img-5">
                                                    <img src="../vimg/Ivy.png" alt="">
                                                </div>
                                                <div class="img-wrap img-7">
                                                    <img src="../vimg/IvyRock.png" alt="">
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
            <!-- end of section -->
    </div> 
    <!-- start of vlmbook -->
    <!-- start of news website is here -->
    
    <!-- start of news website is here -->



    
